.login {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.login .login__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.login .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.login .login__input-label {
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(80, 80, 80);
}

.login .login__input {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.login .login__submit-button {
    background-color: royalblue;
    border: none;
    border-radius: 10px;
    padding: 18px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
}

.login .login__text {
    color: gray;
}

.login .login__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
}